﻿@model IEnumerable<M2Link.Models.ProfileModel>

@{
    ViewBag.Title = "List";
}

<h2>Liste des utilisateurs</h2>

<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.last_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.first_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nickname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.last_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.first_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nickname)
        </td>
        <td class="fit-content">
            @if (Model.FirstOrDefault(profile => profile.nickname == @Html.ViewContext.HttpContext.User.Identity.Name).followed_users.Contains(item.nickname))
            {
                <a href="@Url.Action("Unfollow" , "Profile", new { nickname = item.nickname, source = Url.Action()})" class="btn btn-sm btn-default">Ne plus suivre</a>
            }
            else
            {
                <a href="@Url.Action("Follow" , "Profile", new { nickname = item.nickname, source = Url.Action()})" class="btn btn-sm btn-primary">Suivre</a>
            }
        </td>
    </tr>
}

</table>

<p>@Html.ActionLink("Retour", "Index", "Home", null, new { @class = "btn btn-sm btn-default" })</p>