﻿body {
    padding-top: 60px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #ccc;
    padding-top: 10px;
    z-index: 1000;
}
.body-content {
    margin-bottom: 25px;
}
.navbar-inverse .navbar-nav > li > a.btn-round {
    display: inline-block;
    padding: 10px;
    border-radius: 40px;
    line-height: 5px;
    margin-top: 16px;
}
.navbar-inverse .navbar-nav > li > a.btn-round:hover {
    color: #ffffff;
    background-color: #798d8f;
    border-color: #74898a;
}

dl.dl-centered > dt {
    font-size: 18px;
}
dl.dl-centered > dd {
    margin-bottom: 10px;
}
.centered {
    text-align: center;
}
.fit-content {
    width: 1px;
}
.top-index-button {
    margin-top: 20px;
    text-align: center;
}