﻿@{
    ViewBag.Title = "Page de contact";
}
<h2>@ViewBag.Title.</h2>

<dl class="dl-horizontal">
    <dt>
        Auteur
    </dt>
    <dd>
        HAZARD Alexandre
    </dd>
    <dt>
        Établissement
    </dt>
    <dd>
        Université de Rouen - Campus du Madrillet
    </dd>
    <dt>
        Promotion
    </dt>
    <dd>
        Master 2ème année - Génie Informatique Logiciel
    </dd>
    <dt>
        Email
    </dt>
    <dd>
        <adress> <a href="mailto:alexandre.hazard@etu.univ-rouen.fr">alexandre.hazard@etu.univ-rouen.fr</a> </adress>
    </dd>
</dl>
